---
import SectionHeading from "@components/ui/SectionHeading.astro";
import ContactPanel from "./ContactPanel";
---

<section id="contact" class="bg-navy-800 py-20 lg:py-28">
  <div class="container-page flex flex-col gap-10">
    <SectionHeading title="Get in Touch Today" subtitle="What to expect from us after contacting." light />

    <div class="rounded-[45px] border-2 border-brand-green-500 bg-white p-6 shadow-xl sm:p-8 lg:p-8">
      <ContactPanel client:load />
    </div>
  </div>
</section>
